TheMachineACafe/TheMachineACafeClient/Service References/MachineServiceRef/MachineService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" />
  <xs:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ValidateNumBadge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numBadge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNumBadgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateNumBadgeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numBadge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" minOccurs="0" name="GetUserPreferencesResult" nillable="true" type="q1:UserPreferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" minOccurs="0" name="userPreferences" nillable="true" type="q2:UserPreferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserPreferencesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBoisson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBoissonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListBoissonResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>