TheMachineACafe/TheMachineACafeClient/Service References/MachineServiceRef/MachineService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserPreferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumBadge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantiteSucre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeBoisson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseMug" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPreferences" nillable="true" type="tns:UserPreferences" />
</xs:schema>