TheMachineACafe/TheMachineACafeClient/Service References/MachineServiceRef/MachineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MachineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheMachineACafeService.BusinessObjects" />
      <xsd:import schemaLocation="http://localhost:49721/MachineService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineService_ValidateNumBadge_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNumBadge" />
  </wsdl:message>
  <wsdl:message name="IMachineService_ValidateNumBadge_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateNumBadgeResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetUserPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPreferences" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetUserPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineService_SetUserPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserPreferences" />
  </wsdl:message>
  <wsdl:message name="IMachineService_SetUserPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetListBoisson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListBoisson" />
  </wsdl:message>
  <wsdl:message name="IMachineService_GetListBoisson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListBoissonResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineService">
    <wsdl:operation name="ValidateNumBadge">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/ValidateNumBadge" message="tns:IMachineService_ValidateNumBadge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/ValidateNumBadgeResponse" message="tns:IMachineService_ValidateNumBadge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/GetUserPreferences" message="tns:IMachineService_GetUserPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/GetUserPreferencesResponse" message="tns:IMachineService_GetUserPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/SetUserPreferences" message="tns:IMachineService_SetUserPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/SetUserPreferencesResponse" message="tns:IMachineService_SetUserPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListBoisson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineService/GetListBoisson" message="tns:IMachineService_GetListBoisson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineService/GetListBoissonResponse" message="tns:IMachineService_GetListBoisson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMachineService" type="tns:IMachineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateNumBadge">
      <soap:operation soapAction="http://tempuri.org/IMachineService/ValidateNumBadge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPreferences">
      <soap:operation soapAction="http://tempuri.org/IMachineService/GetUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPreferences">
      <soap:operation soapAction="http://tempuri.org/IMachineService/SetUserPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBoisson">
      <soap:operation soapAction="http://tempuri.org/IMachineService/GetListBoisson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachineService">
    <wsdl:port name="BasicHttpBinding_IMachineService" binding="tns:BasicHttpBinding_IMachineService">
      <soap:address location="http://localhost:49721/MachineService.svc/MachineService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>